@media(min-width:1000px) {
    h1 {
      background-color: rgba(180, 206, 64, 0.801);
      color: rgb(5, 59, 104);
  }
  }
  
  @media(min-width:501px) and (max-width:999px) {
    body{
      background-color: rgb(223, 232, 240);
    }
  }
  
  @media(max-width:500px) {
    body{
      background-color: aliceblue;
    }
  }